.gray-hover {
    
    &:hover {
        background: gray;

        p,
        i {
            color: rgb(241, 241, 239);
        }

    }

    p,
    i {
        transition: color 0.2s;
    }
}

.gray-active {
    background: gray;
    border-bottom: 1px solid rgb(241, 241, 239);
    border-top: 1px solid rgb(241, 241, 239);
    p,
    i {
        color: rgb(241, 241, 239);
    }
}


.sidebar {
    span {
        color: red;
    }
}